<!doctype html>
<html lang="en">

  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/icon.png">
    {% seo %}
  </head>

  <body>

    <div class="grid-container">

      <div class="header">
        <a href="/" class=left>Hobby Homepage</a>
        <div class="header-right">
          <a href="/articles.html"> Articles </a>
          <!-- <a href="/blog.html"> Blog </a> -->
          <!-- <a href="/contact.html"> Contact </a> -->
          <a href="/about.html"> About </a>
        </div>
      </div>

      <div class="main">{{ content }}</div>  

      <div class="footer">
        <span class=footer-left>&copy; 2022 Conrad</span>
        <div class="footer-right">
          <a href="/">Hobby Homepage</a>
        </div> 
      </div>

    </div>
       
  </body>


</html>
